<app-header></app-header>
<div class="bottom container">
    <div class="faq">
        <h1>Frequently Asked Questions</h1>
    </div>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let data of faqs">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{data.question}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{data.answer}}</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<app-footer></app-footer>