<app-header></app-header>
<div class=" text-left mt-3" id="detail">
  <div class="row col-12 text-center">
    <h1 class=" col-12 text-center">The One Technologies</h1>
    <p id="para">
      The One Technologies is counted amongst the most trusted offshore web and software development company located in
      Ahmedabad, India. At present, We have ventured in the business of Mobile application development, Website
      development, Open source customization, Custom software development and Graphics designing.

      Although we are unbeatable in what we do and what we create, it is important for us to witness a broad and highly
      satisfied smile on our clients face. Our focus does not only believe in long term relationships, but we also
      thrive to maintain them proficiently. After all good relations are created after delivering the best possible
      results by outstanding quality of work and 24X7 support.
    </p>
  </div>
</div>
<app-footer></app-footer>